@model IEnumerable<EmployeeViewModel>



    
    <h3>@TempData["Message"]</h3>


<table class="table tbl-primary tbl-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department Name</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
    </thead>


    <tbody>
        @{
            foreach (var dept in @Model)
            {
                <tr>
                    <td>@dept.Id</td>
                    <td>@dept.Name</td>
                    <td>@dept.Email</td>
                    <td>@dept.DepartmentName</td>
                    <td><a asp-action="Update" asp-controller="Employee" asp-route-id="@dept.Id">Update</a> </td>
                    
                    <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@dept.Id">Delete</a> </td>
                </tr>
            }

        }



    </tbody>

</table>

<a asp-action="Create" asp-controller="Employee">Add New Employees</a>
